<br><br>
<div class="navigationContainer footerMainContainer">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="nav navbar-nav navbar-right">
			<li class="footerListing"><a class="footerText" href="#"><img class="instgramImage"
						src="/img/instagramimage.png">
					farmart_2020</a></li>
			<li><a class="footerText" href="#"><img class="instgramImage" src="/img/facebook.png">
					farmart_2020</a></li>
			</li>
			<li><a class="footerText" href="#"><img class="instgramImage" src="/img/call.png">
					1800********</a></li>
			</li>
			<li>
				<p class="footerText">copyright@farmart2020</p>
			</li>
		</ul>
	</nav>
</div>