<%- include('header.ejs') %>
</style>
<link rel="stylesheet" href="css/home.css">

<body>
    <div class="mainContainer">
        <div class="formOutContainer">
            <div class="formInContainer">
                <label>
                    <h3 class="headingText">About Farmart</h3>
                </label></br>
                <label>FarmMart intends to serve as a platform where farmers can purchase, lend or borrow equipment,
                    required for farming. Moreover, through this platform farmers can directly contact the merchants who
                    are interested in leasing and renting farm machinery and land. The application also helps them to
                    get acknowledged with good agricultural practices along with land and equipment
                    maintenance.</label></br>
                <label>
                    <h3 class="headingText">Some Tips About Organic Farming</h3>
                </label></br>
                <form>
                    <ul type="bullet">
                        <label>
                            <li>
                                It is very important to be engaged in conversations with people who are already in the
                                business. Participate in organic farm training programs and farmer-meet-up symposiums.
                                The experience of another farmer who went through a similar phase is very helpful in
                                making the exploratory process a lot smoother.
                            </li>
                            </br>
                            <li>
                                The organic farm site should be near a clean water source: water is a non-negotiable
                                resource for crop growth and health. If the water source is far, it is much more
                                difficult to manage the irrigation process. For a newcomer, this is a tedious
                                consideration to make but is also crucial for the success of the venture.
                            </li>
                            </br>
                            <li>
                                While deciding on what can be grown in the land, it is extremely important to assess the
                                site’s soil condition as well as the resources available. A plant that is indigenous to
                                the landscape, temperature, elevation, and available resources is much easier to manage
                                than growing a plant that is foreign to the area.
                            </li>
                            </br>
                            <li>
                                It is very important to know the type of market that a farmer is catering for. Some
                                agricultural products may not be sellable in a certain type of market. This
                                consideration is very helpful in making the venture sustainable.
                                Find out what agricultural products the market needs, what is the market’s buying
                                capacity, and how often does the market buy such produce. It is also important to figure
                                out how the farmer will sell products to the market. Keep a backup marketing plan, too.
                            </li>
                            </br>
                            <li>
                                All good organic farm produce start with good soil. The soil’s condition directly
                                complements the plants growing in it. Inorganic soil treatments potentially harm the
                                environment, the plants that grow in the soil, as well as the consumers who eventually
                                eat the food.
                            </li>
                            </br>
                            <a href="https://www.agrea.ph/news/8-things-you-need-to-know-when-starting-an-organic-farm">
                                <li>Read More About Organic Farming</li>
                            </a>
                        </label>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('footer.ejs') %>