
.OuterMostContainer{
	margin-bottom: 15px !important;
}
.navigationContainer .bg-dark{
	background-color: #f14b28 !important;
}

.navbar-dark .navbar-nav .nav-link{
	color: #ffff !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #194F62 !important;
	font-weight:bold !important;
}

.searchContainer .input-group-btn{
	background-color: #ffff !important;
	border-radius: 0px 3px 3px 0px;
}
.sliderImageContainer{
	height: 200px;
	width: 100%;
	overflow: hidden;
}
.sliderImage{
	height: 100%;
	width: 100%;
}
.topNavbarContainer{
	margin-bottom: 0px !important;
}

.topNavbarContainer a{
	color: #ffff !important;
	margin-left:15px !important;
	font-size: 13px !important;
}

.noAccountText{
	color: #194F62;
	font-size: 13px;
}


li .footerText{
	color: #ffff !important;
	margin-left:15px !important;
	font-size: 15px !important;
}

.footerListing{
	margin-right: 25px;
}

.footerMainContainer{
	margin-bottom: 0px !important;
	color: #ffff !important;
	font-size: 13px !important;
	background-color: #f14b28 !important;
	position: fixed;
	 left: 0;
  bottom: 0;
  width: 100%;
