.mainContainer{
	display: flex;
  justify-content: center;
}
.formOutContainer{
	background-color: #CCD8DC;
	width:80%;

	display: inline-block;
}
.formInContainer{
	width: 95%;
	display: inline-block;
	margin-top:25px;
	margin-left: 25px;
	margin-bottom:45px;
}
  label{
	color: #194F62 !important;
	font-weight:bold;
	margin-top:10px;
	width: 100%;
}

.headingText{
	color:#F14B28 ;
	font-weight: bold;
	text-decoration: underline;
	background-color: #FFFF;
	opacity: 0.5;
	padding: 10px;

}

a{
	color:#F14B28 !important;	
}